{% extends 'reportes/base.html' %}
{% block content %}

                        <form class="form-horizontal m-t-20" action="" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="col-xs-6">
                                <div class="input-group">
                                        {#                                    placeholder="mm/dd/yyyy"#}
                                        <input type="text" class="form-control" id="datepicker-autoclose"
                                               placeholder="mm/dd/yyyy" name="fecha">
                                        {#                                    <input type="date" class="form-control" name="fecha">#}

                                        <span class="input-group-addon bg-primary b-0 text-white"><i
                                                class="fa fa-calendar-o" aria-hidden="true"></i></span>
                                    </div>
                            </div>
                            <div class="col-xs-6">

                                 <select class="form-control" name="sede">
                                   {% for c in ciudad %}
                                       <option value="{{ c.id }}">{{c.nombre_sede }}</option>
                                   {% endfor %}
                                   

	                                                    </select>
                            </div>
                        </div>

                        <div class="form-group text-center m-t-20 m-b-0">
                            <div class="col-xs-12">
                                <button class="btn btn-custom btn-bordred btn-block waves-effect waves-light" type="submit">GENERAR</button>
                            </div>
                        </div>

                    </form>
{% endblock %}


{% block footer %}
    <script>
        var dateToday = new Date();
        dateToday.setDate(dateToday.getDate());
        jQuery('#datepicker-autoclose').datepicker({
            autoclose: true,
            todayHighlight: true,
            'startDate': dateToday,

        });

    </script>
{% endblock %}