{% extends "base.html" %}

{% block  content %}
    {% load static %}

    <div class="col-sm-12">
        <div class="card-box">
            <div class="dropdown pull-right">
                <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

            </div>

            <h4 class="header-title m-t-0 m-b-30">Seleccione la fecha</h4>

            <div class="row">
                <div class="col-lg-8">

                    <div class="p-20" >
                        <p>Para reservar otra clase debe completar la anterior lección, si usted ya asistió y
                            no puede reservar por favor llamar a recepción o acercarse para verficar su situación
                            en oficinas.</p>
                    </div>
                </div>
                <!-- end col -->


            </div>
            <!-- end row-->
        </div>
    </div>

{% endblock %}

{% block footer %}

{% endblock %}