<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
<head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>MASTERKEY ENGLISH</title>


    <style type="text/css">
        img {
            max-width: 100%;
        }

        body {
            -webkit-font-smoothing: antialiased;
            -webkit-text-size-adjust: none;
            width: 100% !important;
            height: 100%;
            line-height: 1.6em;
        }

        body {
            background-color: #f6f6f6;
        }

        @media only screen and (max-width: 640px) {
            body {
                padding: 0 !important;
            }

            h1 {
                font-weight: 800 !important;
                margin: 20px 0 5px !important;
            }

            h2 {
                font-weight: 800 !important;
                margin: 20px 0 5px !important;
            }

            h3 {
                font-weight: 800 !important;
                margin: 20px 0 5px !important;
            }

            h4 {
                font-weight: 800 !important;
                margin: 20px 0 5px !important;
            }

            h1 {
                font-size: 22px !important;
            }

            h2 {
                font-size: 18px !important;
            }

            h3 {
                font-size: 16px !important;
            }

            .container {
                padding: 0 !important;
                width: 100% !important;
            }

            .content {
                padding: 0 !important;
            }

            .content-wrap {
                padding: 10px !important;
            }

            .invoice {
                width: 100% !important;
            }
        }
    </style>
</head>

<body itemscope itemtype="http://schema.org/EmailMessage"
      style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; width: 100% !important; height: 100%; line-height: 1.6em; background-color: #f6f6f6; margin: 0;"
      bgcolor="#f6f6f6">

<table class="body-wrap"
       style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; width: 100%; background-color: #f6f6f6; margin: 0;"
       bgcolor="#f6f6f6">
    <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
        <td style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0;"
            valign="top"></td>
        <td class="container" width="600"
            style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; display: block !important; max-width: 600px !important; clear: both !important; margin: 0 auto;"
            valign="top">
            <div class="content"
                 style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; max-width: 600px; display: block; margin: 0 auto; padding: 20px;">
                <table class="main" width="100%" cellpadding="0" cellspacing="0"
                       style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; border-radius: 3px; background-color: #fff; margin: 0; border: 1px solid #e9e9e9;"
                       bgcolor="#fff">
                    <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                        <td class="alert alert-warning"
                            style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 16px; vertical-align: top; color: #fff; font-weight: 500; text-align: center; border-radius: 3px 3px 0 0; background-color: #2f3e47; margin: 0; padding: 20px;"
                            align="center" bgcolor="red" valign="top">
                            MASTERKEY ENGLISH
                        </td>
                    </tr>
                    <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                        <td class="content-wrap"
                            style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 20px;"
                            valign="top">
                            <table width="100%" cellpadding="0" cellspacing="0"
                                   style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                    <td class="content-block"
                                        style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;"
                                        valign="top">
                                        Estimado: {{ nombres }} <br>
                                        <strong>De nuestra consideración </strong><br>

                                        <p style="text-align: justify">
                                            <strong>MASTER KEY ENGLISH PROGRAM </strong>se complace en darle la más
                                            cordial bienvenida. Le invitamos a participar con esmero en cada una de las
                                            actividades que le presentaremos durante el proceso de capacitación en el
                                            idioma Inglés a fin de facilitar un ambiente de aprendizaje colaborativo que
                                            propicie el manejo de los contenidos, los cuales enriquecerán su desarrollo
                                            personal y profesional.

                                        </p>
                                        <p style="text-align: justify">
                                            <strong> El idioma inglés es más fácil que el español.</strong> No
                                            distingue entre géneros (en español, hablamos de “la” casa, “el” perro; en
                                            inglés, son simplemente the house, the dog) ni tampoco las conjugaciones
                                            son difíciles; los verbos sólo tienen tres formas, mientras que en español
                                            son muchas. Así que si usted aprendió español, <strong> ¡puede aprender
                                            inglés; es más fácil!</strong><br>El único aspecto que puede presentar
                                            cierta dificultad, es la pronunciación. Pero eso se resuelve fácilmente
                                            con la repetición. La repetición es un concepto clave en el aprendizaje
                                            de idiomas. Debe escuchar varias veces los sonidos para recordarlos y
                                            reconocerlos, y pronunciarlos varias veces para ser capaz de decirlos
                                            rápidamente y bien en el momento oportuno.
                                        </p>

                                        <center><h3>La ventaja de nuestro método</h3></center>
                                        <p style="text-align: justify">
                                            Todos aprendemos a distinta velocidad; tenemos más o menos bases en el
                                            idioma, y no deseamos esperar meses para poder empezar el aprendizaje.
                                            Con nuestro método, usted puede empezar su aprendizaje en cualquier momento;
                                            hacer las evaluaciones estando listo, y avanzar a su propio ritmo.
                                            ¡Siempre esforzándose y exigiéndose disciplina, por supuesto! Incluso en
                                            caso que sea necesario usted puede ausentarse —por motivos de viaje,
                                            por ejemplo— y retomar su programa cuando esté de regreso, reingresando en
                                            la lección que se quedó.<br>Los Asesores se esfuerzan por adecuar la
                                            enseñanza a sus necesidades de aprendizaje, volviendo el
                                            método personalizado, gracias al limitado número de usuarios reservados por
                                            hora. Siempre están listos para ayudarle, apoyarle y animarle.
                                        </p>
                                        <center><h3>Cómo se aprende la lengua materna</h3></center>
                                        <p style="text-align: justify">
                                            El idioma natal se aprende primero a entender cuando se lo escucha,
                                            luego se aprende a hablarlo, leerlo y escribirlo y luego se aprende
                                            la gramática. Lamentablemente a veces hacemos al revés cuando queremos
                                            aprender un idioma nuevo: machacamos la gramática de entrada, cuando aún
                                            no nos hemos familiarizado con el idioma.<br>El aprendizaje debe ser de
                                            manera orgánica, es decir, por asimilación, sin entender conscientemente
                                            las estructuras formales del lenguaje (gramática). Las construcciones de
                                            frases y el orden de colocación de palabras, sonidos, etc., se les va
                                            “pegando” poco a poco. Así, ciertas estructuras les “suenan bien” mientras
                                            que otras “suenan mal”, y con la corrección se va aprendiendo. <br>Sentirá
                                            ansiedad, inseguridad, frustración en las primeras semanas. No será fácil
                                            al principio. Su cerebro se resistirá a aprender algo totalmente nuevo y que
                                            no se parece casi nada al lenguaje que ya conoce. Pero si vence esos
                                            desafíos,
                                            y cumple con una asistencia regular, será recompensado con una creciente
                                            facilidad
                                            para aprender más y más inglés. Así es como el habla se convierte en
                                            algo instantáneo, no se queda pensando varios minutos antes de responder.

                                        </p>
                                        <p>Estamos para ayudarlo, pero <strong>nadie puede hacerlo por usted. </strong>
                                        </p>
                                        <center><h3>Expectativas reales</h3></center>
                                        <p style="text-align: justify">
                                            Si usted no repasa constantemente, por lo menos 30 minutos diarios
                                            (tiempo <strong>adicional</strong> al aprendizaje vivencial con los
                                            Asesores),
                                            <strong>olvidará más rápido que lo que aprende.</strong> Es decir, <strong>difícilmente
                                            hará
                                            progreso alguno.</strong> Peor aún, si usted deja pasar meses sin practicar,
                                            <strong>olvidará
                                                casi todo lo que ha aprendido,</strong> y su proceso de aprendizaje
                                            habrá sido en vano.
                                            <br>Su actitud debe ser <strong>PROACTIVA</strong>, no pasiva. Nosotros
                                            vamos a <strong>asesorarle a aprender</strong>
                                            el idioma y a obtener mejores resultados
                                            en corto tiempo. Pero <strong>USTED DEBE</strong> esforzarse. <br>El"saber
                                            inglés" consiste en
                                            <strong>reconocer y recordar cientos y miles de palabras.</strong> Nadie
                                            puede "ponérselas" en
                                            la memoria; usted debe repasarlas una y otra
                                            vez.<br><strong>RECUERDE</strong> Estamos para ayudarlo,
                                            <strong>pero nadie puede hacerlo por usted.</strong>
                                        </p>
                                        <center style="margin-bottom: 0px;"><h3 style="margin-bottom: 0px;">PLATAFORMA
                                            EDUCATIVA VIRTUAL</h3></center>
                                        <center style="    margin-top: -25px;"><h5><a
                                                href="http://www.masterkey.com.ec">www.masterkey.com.ec</a></h5>
                                        </center>

                                        <p style="text-align: justify"><strong>MASTER KEY ENGLISH</strong>a la
                                            vanguardia educativa y siempre buscando técnicas
                                            y medios para que nuestros usuarios tengan excelentes beneficios
                                            adicionales,
                                            le presenta nuestra <strong>PLATAFORMA VIRTUAL</strong> la cual estará
                                            disponible las 24 horas al día,
                                            7 días a la semana 365 días del año. En ella usted tiene acceso a cualquier
                                            información relacionada
                                            con el programa <strong>MASTER KEY ENGLISH</strong> y a actividades las
                                            cuales le ayudarán a practicar en casa diariamente
                                            el tiempo que usted considere necesario, como recomendación <strong>no menos
                                                de 30 minutos diarios.</strong></p>

                                        <p style="text-align: justify">
                                            Cabe mencionar que nuestra Plataforma Educativa, constituye una herramienta
                                            más para su proceso de aprendizaje, es decir, adicional a las asesorías
                                            presenciales (3 horas por semana) en nuestras instalaciones en los horarios
                                            previstos, por lo tanto dejamos claro que <strong>NO SUSTITUYE</strong>
                                            dicho proceso, sino <strong>LO COMPLEMENTA</strong>.

                                        </p>
                                        <p style="text-align: justify">
                                            Las siguientes actividades se DEBEN realizar desde la comodidad de su hogar,
                                            trabajo o lugar más conveniente.
                                        <ul>
                                            <li>Practica auditiva y de pronunciación por lección.
                                            <li>Practica de escritura y comprensión por lección.</li>
                                            <li>Practica por lección con videos.</li>
                                            <li>Practica con videos gramaticales explicativos por bloque de 5
                                                lecciones.
                                            </li>
                                            <li>Aprendizaje de vocabulario cada 2 lecciones.</li>
                                            <li>Evaluaciones de Progreso, cada 10 lecciones.</li>
                                            <li>Evaluaciones de pase de nivel, cada 20 lecciones.</li>
                                        </ul>

                                        Seguros de aportar significativamente a su proceso de aprendizaje, nos
                                        despedimos augurándoles éxito en su objetivo de convertirse en una persona
                                        Bilingüe.

                                        </p>
                                        <center><h3>“CO-CREATING BETTER FUTURES”
</h3></center>
                                        <p>
                                          INFORMACIÓN PARA EL INGRESO A LA PLATAFORMA VIRTUAL <br>
                                            LE SUGERIMOS REVISAR ESTOS LINKS DE TUTORIALES SOBRE MANEJO DE LA PLATAFORMA.
                                            <br>
                                            <ul>
                                        <li> <a href="https://www.youtube.com/watch?v=2-hU1kJBQnk">Como ingresar a la plataforma</a></li>
                                        <li><a href="https://www.youtube.com/watch?v=WNvEecm0Vvc">Como practicar en casa</a></li>
                                    </ul>


                                            NUMERO PARA RESERVACIONES 062-450860 - 0999400946 <br>

                                        <a href="horarios.masterkey.com.ec">SISTEMA DE RESERVACIONES</a>
                                        </p>


                                    </td>
                                </tr>
                                <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                    <td class="content-block"
                                        style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;"
                                        valign="top">
                                        Usuario : {{ usuario }}

                                    </td>

                                </tr>
                                <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                    <td class="content-block"
                                        style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;"
                                        valign="top">

                                        <a href="http://horarios.masterkey.com.ec/password_reset/" class="btn-primary"
                                           style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; color: #FFF; text-decoration: none; line-height: 2em; font-weight: bold; text-align: center; cursor: pointer; display: inline-block; border-radius: 5px; text-transform: capitalize; background-color: black; margin: 0; border-color: black; border-style: solid; border-width: 8px 16px;">Restablecer
                                            contraseña</a>
                                    </td>

                                </tr>
                                <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                    <td class="content-block"
                                        style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;"
                                        valign="top">
                                        <a href="#" class="btn-primary"
                                           style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; color: #FFF; text-decoration: none; line-height: 2em; font-weight: bold; text-align: center; cursor: pointer; display: inline-block; border-radius: 5px; text-transform: capitalize; background-color: #10c469; margin: 0; border-color: #10c469; border-style: solid; border-width: 8px 16px;">Ingresar</a>
                                    </td>
                                </tr>
                                <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                    <td class="content-block"
                                        style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;"
                                        valign="top">
                                        <p>
                                            <strong>Atentamente,</strong><br><br>
                                            <strong>CHANDAN GUPTA</strong>
                                            <br>ENGLISH ACADEMIC DIRECTOR
                                            <br>MASTER KEY ENGLISH PROGRAM
                                            <br>dirección.academica@masterkey.com.ec
                                            <br>TELEPHONE: 2766-824/2744-509

                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <div class="footer"
                     style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; width: 100%; clear: both; color: #999; margin: 0; padding: 20px;">
                    <table width="100%"
                           style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                        <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                            <td class="aligncenter content-block"
                                style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 12px; vertical-align: top; color: #999; text-align: center; margin: 0; padding: 0 0 20px;"
                                align="center" valign="top"><a href="#"
                                                               style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 12px; color: #999; text-decoration: underline; margin: 0;">Desarrollado
                                por David Pulloquinga</a>

                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </td>
        <td style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0;"
            valign="top"></td>
    </tr>
</table>
</body>
</html>
